.filter {
    background-color: white;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    overflow-x: auto;
    padding: 25px 20px;

    @media screen and (max-width: 767px) {
        justify-content: left;
    }
}

.filter::-webkit-scrollbar {
    display: none;
    width: 0;
}
