.card {
    border: none;
}

.check-out {
    border: none;
    border-bottom: 2px solid #eee !important;
    font-weight: 600;
}

.form-control:focus {
    background-color: #fff;
    border-bottom: 2px solid blue !important;
    border-color: #8bbafe;
    border-radius: 0px;
    box-shadow: none;
    color: #495057;
    outline: 0;
}

.inputbox {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

.inputbox span {
    left: 11px;
    position: absolute;
    top: 7px;
    transition: 0.5s;
}

.inputbox i {
    color: #3f51b5;
    position: absolute;
    right: 8px;
    top: 13px;
    transition: 0.5s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputbox input:focus ~ span {
    font-size: 12px;
    transform: translateX(-0px) translateY(-15px);
}

.inputbox input:valid ~ span {
    font-size: 12px;
    transform: translateX(-0px) translateY(-15px);
}

.card-blue {
    background-color: #492bc4;
}

.hightlight {
    background-color: #5737d9;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 15px;
    padding: 10px;
}

.yellow {
    color: #fdcc49;
}

.decoration {
    font-size: 14px;
    text-decoration: none;
}

.btn-success {
    background-color: #492bc4;
    border-color: #492bc4;
    color: #fff;
}

.btn-success:hover {
    background-color: #492bc4;
    border-color: #492bc4;
    color: #fff;
}

.decoration:hover {
    color: #fdcc49;
    text-decoration: none;
}
