@import url(https://fonts.googleapis.com/css?family=Varela);

.glitch {
    background: #fff;
    font-family: 'Varela', sans-serif;
    transform-style: preserve-3d;
    perspective: 600px;
    color: #000;
    font-size: 100px;
    position: relative;
    width: 400px;
    margin: 0 auto;
    transform: rotateY(-50deg);
}

@-webkit-keyframes noise-anim {
    0% {
        clip: rect(63px, 9999px, 60px, 0);
    }

    5% {
        clip: rect(63px, 9999px, 70px, 0);
    }

    10% {
        clip: rect(31px, 9999px, 98px, 0);
    }

    15% {
        clip: rect(25px, 9999px, 23px, 0);
    }

    20% {
        clip: rect(77px, 9999px, 86px, 0);
    }

    25% {
        clip: rect(67px, 9999px, 42px, 0);
    }

    30% {
        clip: rect(26px, 9999px, 33px, 0);
    }

    35% {
        clip: rect(12px, 9999px, 4px, 0);
    }

    40% {
        clip: rect(39px, 9999px, 52px, 0);
    }

    45% {
        clip: rect(44px, 9999px, 62px, 0);
    }

    50% {
        clip: rect(35px, 9999px, 64px, 0);
    }

    55% {
        clip: rect(72px, 9999px, 28px, 0);
    }

    60% {
        clip: rect(19px, 9999px, 10px, 0);
    }

    65% {
        clip: rect(27px, 9999px, 83px, 0);
    }

    70% {
        clip: rect(13px, 9999px, 94px, 0);
    }

    75% {
        clip: rect(60px, 9999px, 19px, 0);
    }

    80% {
        clip: rect(71px, 9999px, 97px, 0);
    }

    85% {
        clip: rect(58px, 9999px, 90px, 0);
    }

    90% {
        clip: rect(7px, 9999px, 58px, 0);
    }

    95% {
        clip: rect(55px, 9999px, 45px, 0);
    }

    100% {
        clip: rect(86px, 9999px, 70px, 0);
    }
}

@keyframes noise-anim {
    0% {
        clip: rect(63px, 9999px, 60px, 0);
    }

    5% {
        clip: rect(63px, 9999px, 70px, 0);
    }

    10% {
        clip: rect(31px, 9999px, 98px, 0);
    }

    15% {
        clip: rect(25px, 9999px, 23px, 0);
    }

    20% {
        clip: rect(77px, 9999px, 86px, 0);
    }

    25% {
        clip: rect(67px, 9999px, 42px, 0);
    }

    30% {
        clip: rect(26px, 9999px, 33px, 0);
    }

    35% {
        clip: rect(12px, 9999px, 4px, 0);
    }

    40% {
        clip: rect(39px, 9999px, 52px, 0);
    }

    45% {
        clip: rect(44px, 9999px, 62px, 0);
    }

    50% {
        clip: rect(35px, 9999px, 64px, 0);
    }

    55% {
        clip: rect(72px, 9999px, 28px, 0);
    }

    60% {
        clip: rect(19px, 9999px, 10px, 0);
    }

    65% {
        clip: rect(27px, 9999px, 83px, 0);
    }

    70% {
        clip: rect(13px, 9999px, 94px, 0);
    }

    75% {
        clip: rect(60px, 9999px, 19px, 0);
    }

    80% {
        clip: rect(71px, 9999px, 97px, 0);
    }

    85% {
        clip: rect(58px, 9999px, 90px, 0);
    }

    90% {
        clip: rect(7px, 9999px, 58px, 0);
    }

    95% {
        clip: rect(55px, 9999px, 45px, 0);
    }

    100% {
        clip: rect(86px, 9999px, 70px, 0);
    }
}

.glitch:after {
    content: 'NOT_FOUND';
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: #000;
    background: #fff;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim-2 {
    0% {
        clip: rect(15px, 9999px, 29px, 0);
    }

    5% {
        clip: rect(39px, 9999px, 28px, 0);
    }

    10% {
        clip: rect(59px, 9999px, 37px, 0);
    }

    15% {
        clip: rect(39px, 9999px, 22px, 0);
    }

    20% {
        clip: rect(85px, 9999px, 11px, 0);
    }

    25% {
        clip: rect(41px, 9999px, 44px, 0);
    }

    30% {
        clip: rect(73px, 9999px, 28px, 0);
    }

    35% {
        clip: rect(14px, 9999px, 43px, 0);
    }

    40% {
        clip: rect(19px, 9999px, 74px, 0);
    }

    45% {
        clip: rect(8px, 9999px, 100px, 0);
    }

    50% {
        clip: rect(11px, 9999px, 97px, 0);
    }

    55% {
        clip: rect(62px, 9999px, 48px, 0);
    }

    60% {
        clip: rect(81px, 9999px, 80px, 0);
    }

    65% {
        clip: rect(91px, 9999px, 49px, 0);
    }

    70% {
        clip: rect(99px, 9999px, 66px, 0);
    }

    75% {
        clip: rect(38px, 9999px, 86px, 0);
    }

    80% {
        clip: rect(27px, 9999px, 27px, 0);
    }

    85% {
        clip: rect(32px, 9999px, 35px, 0);
    }

    90% {
        clip: rect(77px, 9999px, 75px, 0);
    }

    95% {
        clip: rect(28px, 9999px, 99px, 0);
    }

    100% {
        clip: rect(82px, 9999px, 34px, 0);
    }
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(15px, 9999px, 29px, 0);
    }

    5% {
        clip: rect(39px, 9999px, 28px, 0);
    }

    10% {
        clip: rect(59px, 9999px, 37px, 0);
    }

    15% {
        clip: rect(39px, 9999px, 22px, 0);
    }

    20% {
        clip: rect(85px, 9999px, 11px, 0);
    }

    25% {
        clip: rect(41px, 9999px, 44px, 0);
    }

    30% {
        clip: rect(73px, 9999px, 28px, 0);
    }

    35% {
        clip: rect(14px, 9999px, 43px, 0);
    }

    40% {
        clip: rect(19px, 9999px, 74px, 0);
    }

    45% {
        clip: rect(8px, 9999px, 100px, 0);
    }

    50% {
        clip: rect(11px, 9999px, 97px, 0);
    }

    55% {
        clip: rect(62px, 9999px, 48px, 0);
    }

    60% {
        clip: rect(81px, 9999px, 80px, 0);
    }

    65% {
        clip: rect(91px, 9999px, 49px, 0);
    }

    70% {
        clip: rect(99px, 9999px, 66px, 0);
    }

    75% {
        clip: rect(38px, 9999px, 86px, 0);
    }

    80% {
        clip: rect(27px, 9999px, 27px, 0);
    }

    85% {
        clip: rect(32px, 9999px, 35px, 0);
    }

    90% {
        clip: rect(77px, 9999px, 75px, 0);
    }

    95% {
        clip: rect(28px, 9999px, 99px, 0);
    }

    100% {
        clip: rect(82px, 9999px, 34px, 0);
    }
}

.glitch:before {
    content: '   404    ';
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: #fff;
    background: #000;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
    transform: rotateY(50deg);
}
