@import '@csstools/normalize.css';
@import './variables.css';
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');
/* @import-normalize; */
@import './styles/Responsive.css';

:global(body) {
    font-family: 'Raleway', sans-serif;
    font-size: var(--font-size-base);
}

.wrapper {
    margin: auto;
    max-width: 100%;
    /* width: 1140px; */
    width: 1440px;

    h1 {
        font-size: var(--font-size-h1);
    }
}

.reactLogo {
    height: 48px;
    vertical-align: middle;
    width: 48px;
}

.container {
    margin: 0 auto;
    max-width: 1920px;
    padding: 0 2rem;
}

.point-none {
    pointer-events: none;
    user-select: none;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}