/*
* 12. inner-banner styles
*/
.inner-banner {
    background-color: #011928;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-image: url('../assets/images/bg1.jpg');
}

.inner-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #011928;
    opacity: 0.5;
}

.inner-banner .container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 169px;
}

.inner-banner__title {
    margin: 0;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: #fff;
    margin-top: 5px;
    margin-bottom: -25px;
}

.thm-breadcrumb {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.thm-breadcrumb li {
    font-size: 20px;
    text-transform: capitalize;
}

.thm-breadcrumb li a {
    color: #fff;
}

.thm-breadcrumb li+li::before {
    content: '.';
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
}