/* tr td,
    tr th {
        border: 0 !important;
    }

    tr th {
        padding-top: 2rem !important;
        padding-left: 2rem !important;
        padding-bottom: 0 !important;
    }

    tr td {
        padding: 2rem !important;
    }

    .table {
        border: 1px solid #eee;
    } */
